## Deliverable 2. Create a Customer Travel Destinations Map.

In [48]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [49]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Rikitea,PF,-23.1203,-134.9692,298.88,65,71,3.43,broken clouds
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
2,2,Bondo,CD,3.8146,23.6866,290.72,55,37,1.00,scattered clouds
3,3,Soyo,AO,-6.1349,12.3689,298.43,89,98,2.47,light rain
4,4,Vaini,TO,-21.2000,-175.2000,300.24,74,58,6.99,light rain

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 350

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Rikitea,PF,-23.1203,-134.9692,298.88,65,71,3.43,broken clouds
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
2,2,Bondo,CD,3.8146,23.6866,290.72,55,37,1.00,scattered clouds
3,3,Soyo,AO,-6.1349,12.3689,298.43,89,98,2.47,light rain
4,4,Vaini,TO,-21.2000,-175.2000,300.24,74,58,6.99,light rain
5,5,Tasiilaq,GL,65.6145,-37.6368,262.24,80,84,3.45,broken clouds
6,6,Atuona,PF,-9.8000,-139.0333,299.14,75,9,9.23,clear sky
7,7,Hermanus,ZA,-34.4187,19.2345,295.32,82,2,2.76,clear sky
8,8,Jaque,PA,7.5175,-78.1703,296.79,82,35,2.69,scattered clouds
9,9,Albany,US,42.6001,-73.9662,263.11,74,6,0.77,clear sky

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID               0
City                  0
Country               4
Lat                   0
Lng                   0
Max Temp              0
Humidity              0
Cloudiness            0
Wind Speed            0
Current Conditions    0
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Rikitea,PF,-23.1203,-134.9692,298.88,65,71,3.43,broken clouds
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
2,2,Bondo,CD,3.8146,23.6866,290.72,55,37,1.00,scattered clouds
3,3,Soyo,AO,-6.1349,12.3689,298.43,89,98,2.47,light rain
4,4,Vaini,TO,-21.2000,-175.2000,300.24,74,58,6.99,light rain
...,...,...,...,...,...,...,...,...,...,...
690,690,Vanderhoof,CA,54.0166,-124.0198,263.30,97,99,1.25,overcast clouds
691,691,Kulu,TR,39.0951,33.0799,269.25,99,88,1.60,overcast clouds
692,692,Omsukchan,RU,62.5333,155.8000,252.17,97,100,2.93,overcast clouds
693,693,Tikaitnagar,IN,26.9500,81.5833,291.27,52,0,3.35,clear sky
694,694,Sinnamary,GF,5.3833,-52.9500,297.27,90,100,3.94,overcast clouds

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Conditions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
0,Rikitea,PF,298.88,broken clouds,-23.1203,-134.9692,
1,Soligalich,RU,266.06,snow,59.0778,42.2864,
2,Bondo,CD,290.72,scattered clouds,3.8146,23.6866,
3,Soyo,AO,298.43,light rain,-6.1349,12.3689,
4,Vaini,TO,300.24,light rain,-21.2000,-175.2000,
5,Tasiilaq,GL,262.24,broken clouds,65.6145,-37.6368,
6,Atuona,PF,299.14,clear sky,-9.8000,-139.0333,
7,Hermanus,ZA,295.32,clear sky,-34.4187,19.2345,
8,Jaque,PA,296.79,scattered clouds,7.5175,-78.1703,
9,Albany,US,263.11,clear sky,42.6001,-73.9662,

In [62]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
hotel_df

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
0,Rikitea,PF,298.88,broken clouds,-23.1203,-134.9692,People ThankYou
1,Soligalich,RU,266.06,snow,59.0778,42.2864,Kurort Im. A.p. Borodina
2,Bondo,CD,290.72,scattered clouds,3.8146,23.6866,
3,Soyo,AO,298.43,light rain,-6.1349,12.3689,Hotel Mpampa
4,Vaini,TO,300.24,light rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
690,Vanderhoof,CA,263.30,overcast clouds,54.0166,-124.0198,Vanderhoof Inn
691,Kulu,TR,269.25,overcast clouds,39.0951,33.0799,Kapadokya Motel
692,Omsukchan,RU,252.17,overcast clouds,62.5333,155.8000,
693,Tikaitnagar,IN,291.27,clear sky,26.9500,81.5833,gaurav ka ghar
694,Sinnamary,GF,297.27,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [66]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
0,Rikitea,PF,298.88,broken clouds,-23.1203,-134.9692,People ThankYou
1,Soligalich,RU,266.06,snow,59.0778,42.2864,Kurort Im. A.p. Borodina
3,Soyo,AO,298.43,light rain,-6.1349,12.3689,Hotel Mpampa
4,Vaini,TO,300.24,light rain,-21.2000,-175.2000,Keleti Beach Resort
5,Tasiilaq,GL,262.24,broken clouds,65.6145,-37.6368,The Red House

In [67]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Conditions}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))